@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Branding */
  --primary-color: #127d98; /* Apollo's deep blue */
  --secondary-color: #f29123;  /* "Doctor of the Hour" badge */
  --filter-color: #106c89;

  /* Advertising */
  --ad-background: #001846;
  --ad-foreground: #ffffff; 

  /* Cards */
  --card-doctor-experience: #6b45c6;
  --card-doctor-fees-cashback: #c29870;
  --card-doctor-thumbs-up: #1d8d40;

  /* Search */
  --search-background: #f6f6f6;
  --search-foreground: #171717;
  --search-border: #bebebb;

  /* Buttons */
  --button-primary-color: #1d625e;
  
  /* Tags */
  --tag-new-text: #1a504c;
  --tag-new-background: #e5f9f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}

/* Select element */
select {
  font-family: "Inter", sans-serif; /* Replace with your desired font family */
}

/* Option elements */
select option {
  font-family: "Inter", sans-serif; /* Replace with your desired font family */
}
